* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    color:white ;
    background-color: black;
  }
  
  .navbar {
    display: flex;
    background-color: orange;
    text-align: center;
    padding: 10px;
  
    
  }
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .main {
    flex: 100%;
    background-color: black;
    padding: 20%;
    
  }
  
  .fakeimg {
      height:200px;
    background-color: DodgerBlue;
    color: white;
    text-align: center;
    line-height: 175px;
    font-size: 30px;
  
  }
  
  .footer {
    text-align: center;
    line-height: 75px;
    font-size: 10px;
    background: red;
  }
  


  